<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Blood Group Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">🔍 Bloodgroup Detector</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('accuracy') }}">Accuracy</a></li>
        </ul>
    </nav>

    <div class="home-content">
        <h1>Upload Fingerprint to Check Your Blood Group</h1>
        <p>New way of Detecting Blood Group</p>
        <img src="{{ url_for('static', filename='lab_image.png') }}" alt="Lab Illustration" class="lab-img-main">
    

        <div class="home-buttons">
            <button onclick="window.location.href='{{ url_for('login') }}'">Get Started</button>
            <button onclick="window.location.href='{{ url_for('watch_video') }}'">Watch Video</button>

        </div>

       
    </div>
</body>
</html>